.scroll::-webkit-scrollbar {
	height: 0.80vw;
	width: 0.80vw;
}

.scroll::-webkit-scrollbar-track {
	margin: 0.70vw;
}

@media screen and (max-width: 480px) {
	.scroll::-webkit-scrollbar {
		height: 1.8vw;
		width: 1.8vw;
	}
	.scroll::-webkit-scrollbar-track {
		margin: 1.58vw;
	}
}