.scroll::-webkit-scrollbar {
	height: 0.80vw;
	width: 0.80vw;
}

.scroll::-webkit-scrollbar-thumb {
	background: rgba(255, 162, 0, 0.5);
	border-radius: 5em;
}

.scroll::-webkit-scrollbar-track {
	margin: 0.70vw;
}

.scroll {
	border: 1px solid rgba(255, 162, 0, 0.5);
}

@media screen and (max-width: 480px) {
	.scroll::-webkit-scrollbar {
		height: 1.8vw;
		width: 1.8vw;
	}
	.scroll::-webkit-scrollbar-track {
		margin: 1.58vw;
	}
}