.invisible {
	visibility: hidden;
	opacity: 0;
}

.pa-adj {
	padding: 2% 2.33% 2% 1.67%;
}

.h-85 {
	height: 85%;
}

.fs5 {
	font-size: 0.70vw;
}

.screen-width {
	width: 20%;
}

@media screen and (max-width: 480px) {
	.screen-width {
		width: 45%;
	}
	
	.fs5 {
		font-size: 1.6vw;
	}
}