.animate {
  transition: 0.5s; /*use s for duration*/
}

.hover-color:hover {
  background-color: rgba(255, 162, 0, 0.3);
}

.project-border {
  border: 1px solid rgba(255, 162, 0, 0.5);
}

.scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 162, 0, 0.5);
  border-radius: 5em;
}